<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{styles.css}" type="text/css" rel="stylesheet">
</head>
<body>

	<div class="contenedor">
		<form action="matriculas" method="get">
			Seleccione Curso:
			<select name="codCurso">				
				<option th:each="c:${cursos}" th:selected="${codCurso==c.codCurso}" th:text="${c.nombreCurso}" th:value="${c.codCurso}"></option>
			</select><br><br>
			<input type="submit" value="Ver matrículas">
		</form>
		<br><br>
		
		<table class="tabla" border="1" th:if="${matriculas}">
			<tr><th>Nombre</th><th>Edad</th><th>Curso</th><th>Horario</th></tr>
			<tr th:each="m:${matriculas}">
				<td th:text="${m.alumno.nombre}"></td>
				<td th:text="${m.alumno.edad}"></td>
				<td th:text="${m.curso.nombreCurso}"></td>
				<td th:text="${m.curso.horario}"></td>
				
			</tr>
		</table>
		<br><br>
	
	</div>
</body>
</html>